<% 
	number_displayed = 10;
	number_start = 0;
	number_of_pages = (Product.count/number_displayed).ceil;

	if params[:page_start] && !params[:page_start].empty?
		number_start = ((params[:page_start].to_i) - 1)*number_displayed;
	end

	lots_of_products = Product.includes(:user).limit(number_displayed).offset(number_start).order(:price);
%>

<table>
	<tr>
		<th><b>Product Name</b></th>
		<th><b>Cost</b></th>
		<th><b>Seller</b></th>
	</tr>

	<% lots_of_products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td>$<%= product.price %></td>
			<td>
				<% if product.user.nil? %>
					[Anonymous]
				<% else %>
					<%=  product.user.name %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<hr>

<div id="paginationBar">
	<span>Navigate <%=number_of_pages%> pages:</span>

<form method='post' action="/products/index">
	<% for i in (1..number_of_pages) %>
		<input class="pageNumber" type="submit" name="page_start" value="<%= i %>" />
	<% end %>
</form>
</div>

<hr>

<%= link_to "Add a new product", products_new_path %>